.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-sm) var(--space-lg);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  border-radius: var(--border-radius-md);
  cursor: pointer;
  border: 1px solid transparent;
  text-decoration: none;
  transition: var(--transition-fast);
  box-shadow: var(--shadow-sm);
}

.button:hover {
  text-decoration: none;
  transform: translateY(-2px);
  box-shadow: var(--shadow-md);
}

.primary {
  background-color: var(--color-primary-action);
  color: white;
  border-color: var(--color-primary-action);
}

.primary:hover {
  background-color: var(--color-primary-hover);
  border-color: var(--color-primary-hover);
}

.secondary {
  background-color: var(--color-background-subtle);
  color: var(--color-text-heading);
  border-color: var(--color-border);
}

.secondary:hover {
  background-color: #e9ebee; /* A slightly darker subtle background */
  border-color: #c1c7d0;
}
